body{
    background-image: url(orfimpfbild.jpg);
    background-repeat: no-repeat;
}





.menu{
    background-color: tomato;
    height: 100px;
    position: relative;
}

.untermenu1{
    background-color:red;
    height: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -120px;
}

.untermenu2{
    background-color: red;
    height: 20px;
   
}



li{
    display: inline-block;
}


.logo{
    height: 100px;
    right: 0%;
    position: absolute;
}