body{
    background-image: url(orfimpfbild.jpg);
    background-repeat: no-repeat;
}





.menu{
    background-color: rgb(182, 27, 0);
    height: 50px;
    position: relative;
    top: 20px;
}

.untermenu1{
    background-color:red;
    height: 20px;
    display: flex;
    justify-content: start;
    position: relative;
    top: -86px;
    
}

.untermenu2{
    background-color: red;
    height: 20px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-around;
}



li{
    display: inline-block;
    margin-right: 65px;
    
}


.logo{
    width: 128px;
     margin-left: 0px;
    background-color: rgb(182, 27, 0);
    margin-left: 100px;
}

.schrift{
        color: white;
        position: relative;
        bottom: 15px;
}
.Corona{
    width: 600px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 300px;
    top: 300px;
}


